<%- include('header'); -%>
    <div class="content">
        <h1>Selected articles</h1>
        <table id="catalogue">
            <thead>
                <tr>
                    <th>Name</th>
                    <th scope="col">Reference</th>
                    <th scope="col">Category</th>
                    <th scope="col">Name</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Price</th>
                    <th scope="col">Vat</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Critical_Stock</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <th scope="row">
                            <%= products.name %>
                        </th>
                        <td>
                                <%= products.reference %>
                        </td>
                        <td>
                            <%= products.category %>
                        </td>
                        <td>
                            <%= products.price %>AED
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
    <br>
    <%- include('footer'); -%>